Уважаемый {{.UserName }},
напоминаем вам о запланированном событии.

Событие {{.EventTitle }}
Дата проведения {{.EventDateStart }} - {{.EventDateEnd }}
Идентификатор события {{.EventID }}

----

Служба поддержки Calendar: {{.SenderMail }}
